*{ padding:0; margin:0; font-size:12px}
ul,li{ list-style:none;}
img{ border:0;}
#zSlider{margin:0px auto; width:1020px; overflow:hidden; background-color:#e2e1df}
#picshow{position:relative; z-index:1}
#picshow,#picshow_img{width:850px; height:440px; overflow:hidden; float:left;}
#picshow_img li{width:850px; height:440px; overflow:hidden; float:left; display:none;}
#picshow_img img{width:850px; height:440px;}
#picshow_tx{left:0px; width:850px; bottom:0px; position:absolute; height:90px; overflow:hidden; z-index:9}
#picshow_tx li{background:url(../images/picshow_bg.png) repeat; padding:10px 30px; height:70px; color:#fff; display:none;}
#picshow_tx li a{color:#fff;}
#picshow_tx li a:hover{text-decoration:underline;}
#picshow_tx li h3{ margin:13px 0;}
#picshow_tx li p{ color:#ccc; line-height:16px; height:16px; overflow:hidden;}
#select_btn{width:169px; height:440px; color:#111; float:right; display:inline; background-color:#f0f0f0;}
#select_btn li{padding:4px 0px 4px 10px; width:159px; height:79px; border-top:1px solid #fff; cursor:pointer;}
#select_btn li:hover{background-color:#fff;}
#select_btn li.current{background-color:#fff;}
#select_btn li.current:hover{background-color:#fff;}
#select_btn a{color:#000;}
#select_btn li a{ display:block}
#select_btn img{padding:2px; border:1px solid #ccc; width:153px; height:74px; float:left;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
#select_btn li.current img{filter:alpha(opacity=100);-moz-opacity:1;opacity:1; }
#select_btn .select_text{ height:20px; font:bold 13px/16px 'Microsoft YaHei'; overflow:hidden; display:block;}
#select_btn .select_text:hover{text-decoration:underline;}