.hiden {
	overflow: hidden;
}
body {
	margin-bottom: 85px !important;
}
.list{
	background: #EB5566;
	color: #ffffff;
	width: 100%;
	height: 50px;
	position: relative;
}
.list h3 {
	position: absolute;
	left: 40px;
	top: 15px;
}
.list h3 span {
	font-weight: bold;
}
.list i.gouwuche{
	display: inline-block;
	background: url(../images/select.png) 15px 14px no-repeat;
	width: 36px;
	height: 35px;
}
.list a.contiune {
	font-size: 15px;
	color: #FFD0D6;
	position: absolute;
	right:25px;
	top:15px;

}
.myaddress .title{
	padding: 10px 3% 20px;
	text-align: right;
}
.myaddress .title a {
	border: 1px solid #FF6A6A;
	border-radius: 1px;
	font-size: 14px;
	color: #F04646;
	padding: 4px 15px;
}

.am-form-group {
	margin: 0 3%;
	width: 94%;
}

.am-form-group label{
	font-size: 14px;
	color: #3B3B3B;
	line-height: 50px;
}
.am-form-group .am-u-sm-10{
    display: inline-block;
	font-size: 14px;
	color: #3B3B3B;
	line-height: 30px;
	width: 100%;
}
.am-form-group.add {
	margin-top: 8px;
}
.am-form-group .am-u-sm-10 input {
	font-size: 14px;
	color: #050505;
	line-height: 50px;
}
.am-form-group .am-u-sm-10 input[type=radio] {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}
.am-form-group .user_info{
	display: inline-block;
	width: 92%;
	float: right;
}
.am-form-group a {
	float: right;
	border: 1px solid #FF6A6A;
	border-radius: 1px;
	font-size: 14px;
	color: #F04646;
	height: 19px;
	line-height: 19px;
	padding: 4px 15px;
}
.am-form-group .user_info span {
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
}
.edit .am-form-group {
	margin: 6px auto;
	width: 90%;
	height: 38px;
	line-height: 38px;
}
.edit .am-form-group label{
	height: 38px;
	line-height: 38px;
}

.edit .am-form-group .am-u-sm-10{
	display: inline-block;
	width: 81%;
}
.edit .am-form-group .am-u-sm-10 input{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #CDCDCD;
	padding-left: 10px;
	height: 38px;
	line-height: 38px;
}
.edit .am-form-group select {
	background: #FFFFFF;
	border: 1px solid #CDCDCD;
	padding-left: 10px;
	height: 38px;
	line-height: 38px;
	border-radius: 0;
	width: 78px;
}

.product ul {
	width: 100%;
}
.product ul li {
	padding: 20px 3%;
	border-bottom: 1px solid #DBDBDB;
	list-style: none;
}
.product ul li img {
	max-height: 100px;
	max-width: 100px;
}
.product ul li .product_detail{
	float: right;
	width: 66%;
}
.product ul li .product_detail h3{
	font-size: 14px;
	color: #2E2E2E;
	line-height: 19px;
}
.product ul li .product_detail .price {
	font-size: 14px;
	color: #8F8F8F;
	line-height: 20px;
	margin: 6px 0;
}

.product ul li .product_detail .price em{
	font-size: 15px;
	color: #585858;
	line-height: 22px;
	font-style: normal;
	padding-right: 10px;
}
.product ul li .product_detail .price em:last-child {
	color: #FF5200;
	line-height: 22px;
}
.product ul li .product_detail .opreation .delete {
	float: right;
	border: 1px solid #FF6A6A;
	border-radius: 1px;
	font-size: 14px;
	color: #F04646;
	padding: 4px 15px;
}
.empty {
	margin-top: 25px;
	margin-bottom: 28px;
}
.clearfix {
	overflow: auto;
}
.empty .empty_btn {
	background: #F04646;
	border-radius: 1px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 20px;
	float: right;
	padding: 6px 25px;
	margin-right: 3%;
}
.way {
	margin: 0 3%;
}
.way .pay_way,.way .deliver_way {
	font-size: 18px;
	color: #484848;
	line-height: 25px;
	margin-bottom: 15px;
}
.way .pay_way span,.way .deliver_way span {
	margin-right: 30px;
}
.way .pay_way:before{
	background: url(../images/pay_icon.png) 0 5px no-repeat;
	content: "";
	width: 20px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 4px;
}
.way .pay_way .am-radio,.way .deliver_way .am-radio{
	display: inline-block;
}
.way .pay_way .am-radio input,.way .deliver_way .am-radio input{
	margin-right: 5px;
}
.way .pay_way .am-radio label,.way .deliver_way .am-radio label{
	font-size: 14px;
	color: #898989;
	line-height: 20px;
}
.way .deliver_way:before{
	background: url(../images/deliver_icon.png) 0 5px no-repeat;
	content: "";
	width: 20px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 4px;
}
p.total {
	/* bottom-bg copy 2: */
	margin: 0 3%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background: #FFF2D1;
}
p.total span{
	font-size: 18px;
	color: #ED3F3F;
	line-height: 25px;
}
p.total span.freeshoppandprice {
	font-weight: bold;
}
p.action {
	margin: 18px 3%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background: #EB5566;
	margin-bottom: 70px;
}
p.action .submit {
	font-size: 20px;
	color: #FFFFFF;
	line-height: 28px;
	background: none;
}
.num_opreation .gjian{
	display:block;
	float:left;
	width:30px;
	height:29px;
	line-height:29px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border:1px solid #e8e8e8;
	cursor:pointer; 
}
.num_opreation .gjia {
	cursor:pointer;
	display:block;
	float:left;
	width:30px;
	height:29px;
	line-height:29px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border:1px solid #e8e8e8;
	cursor:pointer; 
}
.inputBg {
	float:left;
	text-align: center;
	width:40px;
	height:29px;
	line-height:29px;
	border-bottom:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8
}