.edit .am-form-group .am-u-sm-10 input{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #CDCDCD;
	padding-left: 10px;
	height: 38px;
	line-height: 19px;
	padding-top: 8px;
}

.edit .am-form-group {
    margin-bottom: 5px;
    margin-top: 5px;
}

.edit .am-form-group .am-u-sm-10 input::-webkit-input-placeholder {
	/* WebKit browsers */
	line-height: 38px;
}
.edit .am-form-group .am-u-sm-10 input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	line-height: 38px;
}
.edit .am-form-group .am-u-sm-10 input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	line-height: 38px;
}
.edit .am-form-group .am-u-sm-10 input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	line-height: 38px;
}