body {
	margin-bottom: 75px !important;
}
nav.order_status {
	border-top: 10px solid #F3F3F3;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
}
nav.order_status ul {
	width: 100%;
}
nav.order_status ul li {
	list-style: none;
	position: relative;
	text-align: center;
	line-height: 60px;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	width: 33%;
	float: left;
}
nav.order_status ul li:hover,nav.order_status ul li.active{
      border-bottom: 1px solid #FF7F00;

}
nav.order_status ul li:last-child{
	border-right: none;
}
nav.order_status ul li a {
	font-size: 18px;
	color: #000000;
}
nav.order_status ul li a:hover,nav.order_status ul li a.active,nav.order_status ul li.active a{
	color: #FF7F00;
}
nav.order_status ul li a i {
	background: #FF7F00;
	border-radius: 50%;
	width: 16px;
	display: block;
	height: 16px;
	color: #ffffff;
	font-size: 11px;
	top:15px;
	right:14%;
	text-align: center;
	line-height: 16px;
	font-style: normal;
	position: absolute;
}
.order_list ul {
	list-style: none;
}
.order_list ul li {
	border-bottom: 10px solid #f3f3f3;
}
.order_top {
	border-bottom: 1px solid #F0F0F0;
	padding: 15px 3%;
}
.order_top .order {
	width: 84%;
	display: inline-block;
}
.order_top .price_number {
	width: 14%;
	display: inline-block;
	vertical-align: top;
}

.order_top .price_number p{
	text-align: right;
}
.order_top .price_number p .price{
	display: block;
	font-size: 14px;
	color: #222222;
	font-weight: 600;
	margin-top: 5px;
}
.order_top .price_number p .number{
	font-size: 12px;
	color: #222222;
}
.order_top .order img {
	width: 60px;
	height: 60px;
	display: inline-block;
}
.order_top .order_detail{
	width: 72%;
	padding-left: 2%;
	display: inline-block;
}
.order_top .order_detail h3{
	width: 100%;
	height: 40px;
	overflow: hidden;
	font-size: 14px;
	color: #2E2E2E;
}
.order_top .order_detail p{
	font-size: 12px;
	color: #B5B5B5;
	margin-top: 3px;
}
.order_action {
	padding: 10px;
	text-align: right;
}
.order_action a {
	height: 30px;
	width: 80px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	margin-right: 6px;
	border: 1px solid #FF6A6A;
	border-radius: 1px;
	font-size: 15px;
	color: #F24646;
}
.order_action a.pay,.order_action a:hover{
	background: #EB5566;
	border-radius: 1px;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 30px;
}
.pagination {
	margin-top: 30px;
}
.pagination a {
	margin: 0 4px;
}
