body{
	margin-bottom: 75px !important;
}
.main .user {
	background-image: linear-gradient( #B5192A 0%, #FF6577 99%);
	width: 92%;
	padding: 0 4%;
	display: table;
	height: 150px;
}
.main .user img {
	max-width: 70px;
	max-height: 70px;
	padding-top: 40px;
}
.main .user .user_info {
	display: table-cell;
	vertical-align: middle;
	color: #FFFFFF;
}
.main .user .user_info p .name {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 36px;
}
.main .user .user_info p{
	font-size: 13px;
	color: #FFFFFF;
	line-height: 24px;
}
.main .user .user_info p .time,.main .user .user_info p .dongjia,.main .user .user_info p .huiyuan{
	font-size: 13px;
	color: #FFF13E;
	padding-left: 20px;
}
.point {
	height: 65px;
	width: 100%;
	border-bottom: 10px solid #f3f3f3;
}
.point div.point_info{
	height: 57px;
	width: 48%;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	padding-top: 8px;
	border-right: 1px solid #E6E6E6;
}
.point div.point_info .yongjin{
	font-size: 22px;
	color: #FF5200;
}
.point div.point_info .jifen{
	font-size: 22px;
	color: #525252;
}
.point div:last-child{
	border-right:none;
}
.point div span {
	display: block;

}
.tuijian p{
	width: 96%;
	margin: 6px auto;
	text-align: left;
}
.tuijian marquee {
	font-size: 14px;
 }
.user_details ul li {
	border-bottom: 1px solid #E6E6E6;
	padding: 15px 15px 15px 50px;
	height: auto;
}
.user_details ul li span {
	float: right;
	width: 40px;
	height: 22px;
	background: #EB5664;
	border-radius: 36px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
}
.user_details ul li span.commision{
	background: transparent;
	font-size: 18px;
	color: #FF5200;
	width: 60px;
	text-align: right;
}
.user_details ul li.member {
	background:url(../images/member_icon.png) 15px 10px no-repeat;
}
.user_details ul li.spread {
	background:url(../images/spread_icon.png) 15px 10px no-repeat;
}
.user_details ul li.commision {
	background:url(../images/commision_icon.png) 15px 10px no-repeat;
}
.user_details ul li.info {
	background:url(../images/userinfo_icon.png) 15px 10px no-repeat;
}
.user_details ul li.order {
	background:url(../images/my_order_icon.png) 15px 10px no-repeat;
	position: relative;
}
.user_details ul li.collection {
	background:url(../images/collection_icon.png) 15px 10px no-repeat;
	position: relative;
}
.user_details ul li a i {
	background:url(../images/ahead_icon.png)  no-repeat;
	display: inline-block;
	width: 8px;
	height: 13px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.user_details ul li a {
	font-size: 14px;
	color: #333333;
}
.user_details ul .sub-menu {
	background: #F9F9F9;
	width: 100%;
	display:none;
}
.user_details ul .sub-menu ul {
	width: 96%;
	float: right;
}
.clearfix {
	overflow: auto;
}
.user_details ul .sub-menu ul li span{
	background: #FFFFFF;
	border: 1px solid #EB5664;
	border-radius: 36px;
	font-size: 16px;
	color: #EB5664;
	line-height: 22px;
}
